@import url("https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&display=swap");
* {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.header-bg {
  background: url("./assets/Header.jpg");
  height: 15vh;
}

.header-bg p,
.header-bg h1 {
  z-index: 0;
}

.overlay {
  background-color: black;
  position: absolute;
  height: 15vh;
  opacity: 0.7;
}

.active,
.inactive {
  text-decoration: none;
  padding: 0.2rem;
  letter-spacing: 2px;
}

/* NavLink css presets */
.active {
  color: #0088ff;
  border-radius: 5px;
}

.inactive {
  color: white;
}
